language: python 


matrix:
  include:
    - os: linux
      python: "2.7"
    - os: linux
      python: "3.4"
    - os: linux
      python: "3.5"

    # TravisCI TimeLimit 50min
    # numpy error
    # - os: osx
    #   language: generic
    #   env:
    #   - PYTHON_VERSION=2.7.10
    #   - PYENV_ROOT=~/.pyenv
    #   - PATH=$PYENV_ROOT/shims:$PATH:$PYENV_ROOT/bin
    - os: osx
      language: generic
      env:
      - PYTHON_VERSION=3.4.3
      - PYENV_ROOT=~/.pyenv
      - PATH=$PYENV_ROOT/shims:$PATH:$PYENV_ROOT/bin
    - os: osx
      language: generic
      env:
      - PYTHON_VERSION=3.5.1
      - PYENV_ROOT=~/.pyenv
      - PATH=$PYENV_ROOT/shims:$PATH:$PYENV_ROOT/bin


before_install:
  - if [[ $TRAVIS_OS_NAME = "osx" ]]; then
      brew update >/dev/null;
      brew outdated pyenv || brew upgrade --quiet pyenv;
      brew install homebrew/boneyard/pyenv-pip-rehash;
      brew tap homebrew/science;

      pyenv install -ks $PYTHON_VERSION;
      pyenv global $PYTHON_VERSION;
      python --version;

      travis_wait 45 brew install pcl --without-vtk --without-qt;
    fi

  - if [[ $TRAVIS_OS_NAME = "linux" ]]; then
      sudo add-apt-repository ppa:v-launchpad-jochen-sprickerhof-de/pcl -y;
      sudo apt-get update -y;
      
      wget http://www.vtk.org/files/release/6.1/VTK-6.1.0.tar.gz
      wget http://www.vtk.org/files/release/6.1/VTKData-6.1.0.tar.gz
      wget http://www.vtk.org/files/release/6.1/VTKLargeData-6.1.0.tar.gz
      tar zxvf VTK-6.1.0.tar.gz
      tar zxvf VTKData-6.1.0.tar.gz
      tar zxvf VTKLargeData-6.1.0.tar.gz
      mkdir VTK-6.1.0-build
      cd VTK-6.1.0-build
      cmake ../VTK-6.1.0 \
      -DBUILD_DOCUMENTATION:BOOL=ON \
      -DBUILD_EXAMPLES:BOOL=ON \
      -DBUILD_SHARED_LIBS:BOOL=ON \
      -DBUILD_TESTING:BOOL=ON \
      -DVTK_Group_Imaging:BOOL=ON \
      -DVTK_Group_MPI:BOOL=ON \
      -DVTK_Group_Qt:BOOL=ON \
      -DVTK_Group_Rendering:BOOL=ON \
      -DVTK_Group_StandAlone:BOOL=ON \
      -DVTK_Group_Tk:BOOL=ON \
      -DVTK_Group_Views:BOOL=ON \
      -DVTK_Group_Web:BOOL=ON \
      -DVTK_USE_LARGE_DATA:BOOL=ON \
      -DVTK_USE_TK:BOOL=ON \
      -DVTK_WRAP_PYTHON:BOOL=ON \
      -DVTK_WRAP_TCL:BOOL=ON
      travis_wait 45 make -j4
      travis_wait 45 sudo make install

      sudo apt-get install libpcl-all -y;
    fi


install:
  - pip install --upgrade pip
  - pip install cython==0.24
  - pip install numpy
  - python setup.py build_ext -i
  - python setup.py install


script:
  - python tests/test.py
  - python tests/test_registration.py

