<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="OpenNI.Net" publicKeyToken="6b43d0c6cf74ee7f"/>
        <!-- Redirecting to newest version (we're backwards compatible to versions up to 1.1.0.31). -->
        <bindingRedirect oldVersion="1.1.0.31 - 1.3.2.1"
                         newVersion="1.3.2.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>